@use "../../styles/variables" as *;

.footer {
  background-color: $secondary-color;
  color: red;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.text {
  font-size: 14px;
}
